@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
.text-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  
}
.sub-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 1.5px;
  text-align: left;
}
.number {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}
@media screen and (min-width: 768px) { 
 
  .text-desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) { 
  .sub-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    
  }
  .text-desc {
    font-size: 15px;
    line-height: 18px;
  }
  .number {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.5px;
  }
}
.swiper-pagination-bullet-active {
  @apply bg-purple-01 !important
}
.swiper-pagination-bullet {
  width: 10px  !important;
  height: 10px  !important;
  margin: 0 6px !important;
}
.swiper-pagination {
  margin-bottom: 10px !important;
}
