

@media screen and (max-width: 767px) {  
  .title {
    font-size: 50px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
    
  }
  .container-step {
    min-height: 300px;
  }
}

@media screen and (min-width: 768px) {    
  .title {
    font-size: 90px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: 0px;
    text-align: left;
  }

  .text-desc {
    font-size: 18px;
  }
}